<app-logo></app-logo>
<app-card title="Login" class="login-form-container">
	<app-form-error-box [form]="form"></app-form-error-box>
	<form [formGroup]="form" class="login-form" (ngSubmit)="login()">
		<ng-container *ngFor="let control of formControlInfos">
			<app-input
				[formControlName]="control.name"
				[type]="control.inputType"
				[label]="control.label"
				[errors]="form.controls[control.name].errors"
			></app-input>
		</ng-container>
		<button [disabled]="!form.valid">Login</button>
		<a routerLink="/register">Register now</a>
	</form>
</app-card>
<app-github></app-github>
