<app-logo></app-logo>
<app-card title="Login" class="login-form-container">
	<div [formGroup]="form" class="login-form">
		<ng-container *ngFor="let control of formControlInfos">
			<app-input
				[formControlName]="control.name"
				[type]="control.inputType"
				[label]="control.label"
				[errors]="form.controls[control.name].errors"
			></app-input>
		</ng-container>
		<button (click)="login()" [disabled]="!form.valid">Login</button>
		<a routerLink="/register">Register now</a>
	</div>
</app-card>
