<form>
	<app-separator title="Change Picture"></app-separator>
	<label class="file-input-label">Profile Picture</label>
	<input
		class="file-input"
		(change)="setProfilePicture($event)"
		type="file"
		accept="image/*"
	/>
</form>

<form
	[formGroup]="form_display_name"
	class="setting-form"
	(ngSubmit)="saveSettingsDisplayName()"
>
	<app-separator title="Change Display Name"></app-separator>
	<app-form-error-box [form]="form_display_name"></app-form-error-box>
	<app-input
		formControlName="display_name"
		[type]="InputType.TEXT"
		label="Display Name"
		[errors]="form_display_name.controls['display_name'].errors"
	></app-input>
	<button type="submit">Change Display Name</button>
</form>
