:host {
    height: 7rem;
    display: flex;
    align-items: center;
    font-size: 3rem;
}

img {
    height: 100%;
    width: auto;
}

h1 {
    transform: translateY(.05em);
    margin-left: .175em;
    font-weight: normal;
    font-size: 1em;
}
