@import 'variables';

:host.selected .wrapper {
	background-color: $color-fill-highlight;
}

.wrapper {
	margin: 2px 15px;
	border-radius: 5px;
	padding: 8px 20px;
	cursor: pointer;
	overflow-x: hidden;
}

.wrapper:hover {
	background-color: $color-fill-subtle-highlight !important;
}
