<app-logo></app-logo>
<app-card title="Register" class="register-form-container">
	<div [formGroup]="form" class="register-form">
		<ng-container *ngFor="let control of formControlInfos">
			<app-input
				[formControlName]="control.name"
				[type]="control.inputType"
				[label]="control.label"
				[errors]="form.controls[control.name].errors"
				[trimOnBlur]="control.trimOnBlur ?? false"
			></app-input>
		</ng-container>
		<button (click)="register()" [disabled]="!form.valid">Register</button>
		<a routerLink="/login">Login now</a>
	</div>
</app-card>
<app-github></app-github>
