@import 'variables';

:host {
    display: flex;
    align-items: center;
}

.text {
    font-size: 14px;
    color: $color-dark-text;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: $color-dark-text;
    border-radius: 100%;
    transform: translateY(-2px);
    margin-right: 3px;
}