@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');
@import 'variables';

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	color: white;
	font-family: 'Khula', sans-serif;
	background-color: $color-fill;
	background-image: url('./assets/carla_bg.webp');
	background-size: 600px 600px;
}

a {
	color: $color-text;
}

button {
    width: 100%;
	background: $color-red-neon;
	color: white;
	border: none;
	padding: 1rem;
	box-shadow: 4px 4px $color-dark;
    font-size: 1rem;
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
        cursor: default;
    }
}
