$color-blue-neon: #00E7FF;
$color-red-neon: #FB4673;
$color-text: #E8EAED;
$color-grey-text: #908F95;
$color-dark-text: #6B6A6E;
$color-fill: #242636;
$color-fill-highlight: #34374E;
$color-fill-lowlight: #1E1F2D;
$color-dark: #1D1E22;
$color-fill-subtle-highlight: #2B2E41;
