<div class="contacts">
	<app-chat-contact
		*ngFor="let chat of chats"
		[user]="chat.to"
		[class.selected]="selectedChatId === chat.id"
		(click)="selectChat(chat)"
	></app-chat-contact>
	<input (change)="setProfilePicture($event)" type="file" accept="image/*" />
</div>
<div class="user-menu">
	<div class="user-data">
		<app-profile-picture
			[userId]="currentUser.id"
			class="user-img"
		></app-profile-picture>
		<span>{{ currentUser.displayName }}</span>
	</div>
	<div class="actions">
		<span class="material-symbols-rounded" (click)="openFriendsPopup()">
			person_add_alt
		</span>
		<span class="material-symbols-rounded" (click)="clickSettings()">
			settings
		</span>
	</div>
</div>
