<div class="contacts">
	<app-chat-contact id="123" name="Tobi" selected></app-chat-contact>
	<app-chat-contact
		id="179724cc-de31-4b0f-b2d0-81a0943a9471"
		name="Dummy"
	></app-chat-contact>
</div>
<div class="user-menu">
	<div class="user-data">
		<app-profile-picture class="user-img"></app-profile-picture>
		<span>Paul</span>
	</div>
	<div class="actions">
		<span class="material-symbols-rounded" (click)="openFriendsPopup()">
			person_add_alt
		</span>
		<span class="material-symbols-rounded" (click)="clickSettings()">
			settings
		</span>
	</div>
</div>
