@import 'variables';

.user {
	display: flex;
}

.user-pic {
	flex-shrink: 0;
}

.data {
	min-width: 0;
	flex-grow: 1;
	margin-left: 15px;
	position: relative;
	padding-top: 32px;
}

.name {
	position: absolute;
	width: 100%;
	font-size: 24px;
	color: $color-text;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	top: 4px;
	left: 0;
}
