@import "variables";

$border-size: 2px;

:host {
    width: 100%;

    &.ng-invalid:not(.ng-untouched) {
        input {
            border: $border-size solid $color-red-neon;
        }
    }
}

label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

input {
    background: $color-fill;
    border: $border-size solid $color-blue-neon;
    border-radius: 0;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    color: $color-text;
    outline: none;
}
