@import 'variables';

.form-error-box {
	background-color: rgba($color-red-neon, 0.1);
	border: solid 2px $color-red-neon;
	border-radius: 5px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 0;
	color: $color-red-neon;
}