<div class="header-bar">
	<h3>Friends</h3>
	<span class="material-symbols-rounded" (click)="closePopup()">close</span>
</div>

<div class="content">
	<div class="search">
		<app-input
			label="Search friend"
			[(ngModel)]="searchValue"
			(ngModelChange)="searchValueChanged()"
		></app-input>
		<button (click)="clearSearchValue()">Clear</button>
	</div>

	<ng-container *ngIf="!searchValue">
		<ng-container *ngIf="receivedFriendRequests.length > 0">
			<app-separator title="Pending Requests"></app-separator>
			<app-user-display-received-requests
				[friendRequests]="receivedFriendRequests"
				(friendRequestAccepted)="
					fetchReceivedFriendRequests(); fetchFriends()
				"
				(friendRequestDeclined)="fetchReceivedFriendRequests()"
			></app-user-display-received-requests>
		</ng-container>
		<ng-container *ngIf="sentFriendRequests.length > 0">
			<app-separator title="Sent Requests"></app-separator>
			<app-user-display-sent-requests
				[friendRequests]="sentFriendRequests"
				(friendRequestRevoked)="fetchSentFriendRequests()"
			></app-user-display-sent-requests>
		</ng-container>
		<app-separator title="Friends"></app-separator>
		<app-user-display-friends
			[users]="friends"
			(removedFriend)="fetchFriends()"
		></app-user-display-friends>
	</ng-container>

	<ng-container *ngIf="searchValue">
		<app-separator title="Search result"></app-separator>
		<app-user-display-search
			[users]="searchResults"
			(friendRequestSent)="clearSearchValue(); fetchSentFriendRequests()"
			(friendRequestAlreadyExists)="
				displayError('Friend request already exits')
			"
		></app-user-display-search>
	</ng-container>
</div>
